---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HomeAboutSection from "../components/sections/HomeAboutSection.astro";
import HomeApproachSection from "../components/sections/HomeApproachSection.astro";
import HomeContactSection from "../components/sections/HomeContactSection.astro";
import HomeGalleryPreviewSection from "../components/sections/HomeGalleryPreviewSection.astro";
import HomeHeroSection from "../components/sections/HomeHeroSection.astro";
import HomeMarqueeSection from "../components/sections/HomeMarqueeSection.astro";
import HomePackagesSection from "../components/sections/HomePackagesSection.astro";
import HomeRecognitionSection from "../components/sections/HomeRecognitionSection.astro";
import HomeTestimonialsSection from "../components/sections/HomeTestimonialsSection.astro";
import { siteData } from "../data/site";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Emcee Timothy | Home"
  description={siteData.heroText}
  pathname="/"
>
  <Header pathname="/" />

  <main class="pb-5">
    <HomeHeroSection />
    <HomeMarqueeSection />
    <HomeAboutSection />
    <HomeApproachSection />
    <HomePackagesSection />
    <HomeGalleryPreviewSection />
    <HomeTestimonialsSection />
    <HomeRecognitionSection />
    <HomeContactSection />
  </main>

  <Footer />
</Layout>
